    <!-- Post Form -->
    {{#each hangouts}}
    <div class="card">
      <div class="card-header">
        {{date}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p>{{location}}</p>
        <small>{{category}}</small>
        <p class="card-text">{{details}}</p>
        <a href="#" data-id={{id}} class="btn btn-primary">Tag Along</a>
      </div>
    </div>
    {{/each}}